@font-face{
 font-family: 'CursedTimer';
 src: url('CursedTimer.ttf') format('truetype');
 font-weight: 700;
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0C4A6E;
    width: 80vw;
    margin: 10px auto auto auto;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 40px;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h2{
    font-size: 30px;
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 20px auto 10px auto ;
}

h3{
    color: #E11D48;
    font-family: 'CursedTimer', sans-serif;
    font-size: 70px;
    margin: auto;
}

.scoreCard{
    margin: auto auto 20px auto;
    background-color: black;
    width: 120px;
    height: 90px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: #0C4A6E;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    padding: 6px;
    font-family: 'CursedTimer', sans-serif;
    color: lightsteelblue;
    margin: 2px;
}

.leader{
    box-shadow: 0px 0px 50px yellow;
}

@media only screen and (min-width: 1200px){
    .container{
        width: 50vw;
    }
}